body {
    background:#141E30;
    background: linear-gradient(-45deg, #35577D, #1b2b4a);
    margin: 0;
    padding: 0;
  }

  #Me{
    color:white;
    font-size: 4em;
  }

  #link-colors{
    color:yellow;
  }

h1 {
    color:black;
    font-size: large;
    font-family: cursive;
    text-align: center;
}

h2{
    color:white;
    text-align:center;
}

div{
    text-align: center;
}


  